.answerQuestionHeader {
  margin: 0em;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
  padding: 1em;
  background-color: rgb(131, 175, 213);
  border-bottom: 0.2em solid blue;
}
